<div>

  <h2>My song list Service</h2>
  <ul class="songs">
    <li *ngFor="let song of songs1">
      <a href="{{song.url}}" target="_blank">{{song.name}}</a><br>
      <span>{{song.artist}}</span>
    </li>
  </ul>
<br>
  <h2>My song list</h2>
  <ul class="songs">
    <li *ngFor="let song of songs2">
      <a href="{{song.url}}" target="_blank">{{song.name}}</a><br>
      <span>{{song.artist}}</span>
    </li>
  </ul>
  <br>
  <h2>My song list API</h2>
  <input type="text" name="song" [(ngModel)]="song">
  <button (click)="getSongs()">Agregar una nueva cancion</button>
  <ul class="songs">
    <li *ngFor="let song of songs">
      <a href="{{song.url}}" target="_blank">{{song.name}}</a><br>
      <span>{{song.artist}}</span>
    </li>
  </ul>
</div>